  # Faster likely unsigned repo
  deb [arch=amd64] http://mirror.rackspace.com/ubuntu xenial main universe
  deb [arch=amd64] http://mirror.rackspace.com/ubuntu xenial-updates main universe
  deb [arch=amd64] http://mirror.rackspace.com/ubuntu xenial-backports main universe
  deb [arch=amd64] http://mirror.rackspace.com/ubuntu xenial-security main universe

  # i386 comes from the global known repo. This is slower and so it is only used for i386 packages
  deb [arch=i386] http://archive.ubuntu.com/ubuntu xenial main universe
  deb [arch=i386] http://archive.ubuntu.com/ubuntu xenial-updates main universe
  deb [arch=i386] http://archive.ubuntu.com/ubuntu xenial-backports main universe
  deb [arch=i386] http://archive.ubuntu.com/ubuntu xenial-security main universe